body {
  font-family: Arial, sans-serif;
  background-color: #9ca3af;
  /* background-color: #f0f0f0; */
  text-align: center;
  padding: 20px;
  width: 90%;
}

#title {
  text-align: center;
}

#contador {
  font-size: 20px;
  padding: 0px 10px;
  background-color: #d1d5db;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  float: right;
  color: #111827;
}

form {
  background-color: #d1d5db;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

input,
select {
  background-color: #f9fafb;
  width: 100%;
  padding: 10px 0 10px 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input{
  width: 97%;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#historico {
  font-size: 16px;
  padding: 0px 10px;
  /*font-weight: bold;*/
  background-color: #d1d5db;
  border-radius: 10px;
  align-self: center;
  box-shadow: 5px 5px 10px;
}

#resultado {
  font-size: 16px;
  background-color: #d1d5db;
  border-radius: 10px;
  align-self: center;
  box-shadow: 5px 5px 10px;
}

#alerta {
  padding: 20px;
  font-size: 24px;
  color: red;
}
